*.class
*.apk
*.apk
Galeria2/.idea/workspace.xml
Galeria2/.idea/libraries/google_play_services.xml
Galeria2/.idea/libraries/android_support_v4.xml
Galeria2/.idea/misc.xml
Galeria2/out/production/Galeria2/com/polites/android/R$id.class
Galeria2/out/production/Galeria2/Galeria2.apk
Galeria2/out/production/Galeria2/Galeria2.apk
gesture-imageview-master/main/main.iml
Galeria2/Galeria2.iml
*.iml
Galeria2/.idea/libraries/android_support_v4.xml
Galeria2/.idea/libraries/google_play_services.xml